---
import Layout from "../layouts/Layout.astro"
import {Image} from "astro:assets";
import orologio from "../images/orologio.jpg"
---
<Layout>
  <p>something</p>
  <Image src={orologio} alt="Orologio" height={300}/>
</Layout> 